:root {
  --main-color: #152745
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.azul{
    background-color:rgb(10, 10, 24);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    padding: 0 0 80px 1em;
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.azul > *:first-child {
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.hr{
    border: 2px;
}
.rectangulo{
    position: relative;
    left: -1.5rem;
    z-index: 1;
    width: 60vw;
    padding: 40px 4rem;
    background-color: #E0EBF4;
    font-family: 'Montserrat', sans-serif;
    padding-block: 0%;
}
.Daniela{
    text-align: start!important;
    font-size: 28px;
    letter-spacing: .5em;
}
.sub-title{
    text-align: start!important;
    font-size: 21px;
    font-weight: 300;
    margin-top: 0;
}
.segunda{
    font-size: 21px;
}
.franja{
    display: none;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.text-main-color {
    color: var(--main-color)!important;
}

.bg-main-color{
    background-color: var(--main-color)!important;
}

.borde{
    border-style: double;
    border-width: 4px;
    border-color:#b3abab
    
}
.contenido{
    font-size:20px ;
}
.parrafo{
    font-size:17px;
}

.img {
    background-image: url("../images/5219947.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ps-6{
    padding-left: 4.5rem;
}

.fs-7{
    font-size: 0.7rem;
}

/* Media Queries */

@media (max-width: 991px) {
    .Daniela{
        font-size: 12px;
        text-align: center!important;
        margin-top: 0!important;
    }
    .sub-title{
        text-align: center!important;
        font-size: 11.8px;
    }
    .rectangulo{
        width: 100%;
        padding: 40px 4rem;
        background-color: #E0EBF4;
        font-family: 'Montserrat', sans-serif;
        padding-block: 0%;
        
        left: -16px;
        right: 0;
        width: 100vw;
        padding-right: 0;
        padding-left: 0px;
    }
    .img{
        height: 40%;
        background-position: bottom;
    }
    .azul {
        display: none;
    }
    .franja{
        display: block;
    }
}

/* Animations */

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  